@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Outfit:wght@400;500;600&display=swap');
:root {
    --text-header: #fff;
    --text-title: #2D3958;
    --text-color: #7B88A8;
    --color-button-icon: #4F77FF;
}
